/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 6px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
  /* 텍스트 위에 올라가도 텍스트 커서로 안바뀜 */
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
  background-color: #73aace;
  align-items: center;
  padding: 2px 10px;
  /* position: sticky;
  top: 0; */
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__menu {
  display: flex;
}
.navbar__menu__item {
  padding: 6px 10px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  transition: all 0.5s;
}
.navbar__menu__item.active {
  border: solid 1px white;
}
.navbar__menu__item:hover {
  background-color: #338eca;
}

/* Home */
#home {
  padding: 40px;
  background: url(./imgs/background.avif) center/cover no-repeat;
  text-align: center;
  color: white;
  /* margin: 0; */
}
.home__avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}
.home__title,
.home__desc,
.home__contact {
  margin: 25px 0;
  color: white;
}

.home__contact {
  border-radius: var(--size-border-radius);
  border: solid 2px white;
  font-size: var(--font-regular);
  width: 130px;
  height: 30px;
  transition: all 0.2s;
}
.home__contact:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

/* Section common 중앙정렬 */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}
.section__container {
  max-width: 1200px;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0;
}
.major__icon {
  width: 100px;
  height: 100px;
  border: solid 2px var(--color-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  /* i태그는 font이다. */
  color: var(--color-blue);
  margin-bottom: 10px;
  transition: all 0.5s;
}
/* major__icon에 hover했을때 i태그만 변화시키고 싶다면
.major__icon:hover i 라고 hover다음에 변화시키려는 태그를 쓰면 된다!
*/
.major__icon:hover {
  color: #215c83;
  scale: 1.1;
  transform: rotate(360deg);
  border: #215c83 solid 2px;
}
.major {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 40px;
}

.major__title,
.major__desc {
  color: var(--color-grey);
}

.major__desc {
  font-size: var(--font-small);
}

.education {
  display: flex;
  align-items: center;
}
.education img {
  width: 80px;
  height: 80px;
}
.education__desc {
  margin: 0 10px;
  text-align: left;
}
.education__name {
  font-size: var(--font-small);
}
.education__period {
  font-size: var(--font-micro);
}

/* Skill */
#skills {
  background-color: var(--color-yellow);
}
.skills__container {
  max-width: 1200px;
  margin: auto;
}
.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 40px auto;
  max-width: 1000px;
}
.skillset__title {
  color: white;
}
.skillset__left {
  background-color: var(--color-dark-grey);
  flex-basis: 60%;
  padding: 20px;
}
.skill {
  margin-bottom: 12px;
}
.skill__desc {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.skill__bar {
  width: 100%;
  height: 8px;
  background-color: var(--color-grey);
  border-radius: 5px;
}
.skill__value {
  /* width는 inline style로 처리! */
  height: 6px;
  background-color: var(--color-blue);
  border-radius: 5px;
}
.skillset__right {
  flex-basis: 40%;
}
.tools {
  background-color: var(--color-grey);
  padding: 10px;
}
.etc {
  padding: 10px;
}

/* Work */
.work__categories {
  margin: 20px;
}
.category__btn {
  border: solid 1px var(--color-dark-white);
  border-radius: 4px;
  font-size: var(--font-regular);
  padding: 4px 40px;
  transition: all 0.3s;
}
.category__btn.active,
.category__btn:hover {
  background-color: var(--color-blue);
  color: whitesmoke;
  border: solid 1px var(--color-blue);
}
.category__count {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: var(--color-orange);
  text-align: center;
  line-height: 20px;
  color: white;
  position: relative;
  top: -10px;
  left: 4px;
  opacity: 0;
  transition: all 0.5s ease-out;
}
/* category__btn이 active이거나 hover일때 category__count변화주기 */
.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: #215c83; */
}
.project {
  width: 250px;
  height: 200px;
  background-color: #338eca;
  border: 2px solid salmon;
  margin: 5px;
  position: relative;
}
.project:hover .project__desc {
  background-color: #000000;
  opacity: 0.8;
  color: white;
  top: 0;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}
.project__desc {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project__desc h3 {
  color: white;
}

/* Testimonial */
#testimonials {
  background-color: var(--color-light-white);
}
.testimonials {
  margin: 20px auto;
  max-width: 1200px;
}
.testimonial {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.testimonial__avatar:nth-child(odd) {
  margin-right: 20px;
}
.testimonial__avatar:nth-child(even) {
  margin-left: 20px;
}
.testimonial__speech-bubble {
  padding: 10px;
  background-color: white;
  border-radius: 20px;
}
.testimonial__speech-bubble p {
  color: var(--color-dark-grey);
}
.testimonial__speech-bubble a {
  color: cornflowerblue;
}

/* Contact */
#contact {
  background-color: var(--color-blue);
}
.contact__title,
.contact__email,
.contact__rights {
  color: white;
}
.contact__title {
  margin: 32px 0;
}
/* i 태그는 font와 동일하게 font로 처리! */
.contact__links {
  font-size: var(--font-large);
  margin: 20px 0;
}
.contact__links i {
  transition: all 0.125s ease-in;
}
.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-pink);
}
